.search-filter,
.apha-bets,
.col-alpha{
	float: left;
	width: 100%;
}
.col-alpha{
	margin-bottom: 50px;
}
.apha-bets{
	text-align: center;
}
.apha-bets li{
	display: inline-block;
	width: auto;
}
.col-alpha span,
.apha-bets li span{
	display: inline-block;
	font-size: 16px;
	padding: 0px 12px;
	text-transform: uppercase;
}
.col-alpha .sizeing{
	font-size: 54px;
	width: 100%;
	text-align: center;
	padding: 15px 0px;
}
.nav-none .owl-nav{
    display: none;
}
.list li{
position: relative;
-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}
.search-filter .list{

	float: left;
	width: 100%;
}
.search-filter .list li{
	width: 33.33%;
	float: left;
}


/*============ Media 480Px Star ============ */
@media (max-width: 480px) {

	.col-alpha .sizeing{
		font-size: 30px;
		text-align: left;
		padding: 0px;
	}
	.search-filter .list li{
		width: 100%;
	}
	.col-alpha{
		margin-bottom: 10px;
	}
	.col-alpha span, .apha-bets li span{
		padding:9px 12px;
		
		cursor: pointer;
	}
}