.inner-banner {
  float: left;
  width: 100%;
  position: relative;
  padding: 15px 0px;
}
.breadcrumbs {
  float: left;
  width: auto;
  padding:0px;
  margin-bottom: 20px;
}
.inner-banner .breadcrumbs{
  margin-bottom: 0px;
}
.breadcrumbs li {
  float: left;
  width: auto;
  position: relative;
  margin-right: 7px;
  padding-right: 12px;
}
.breadcrumbs li:before {
  position: absolute;
  content: "/";
  right: 0px;
  top: 50%;
  font-size: 14px;
  margin-top: -10px;
}
.breadcrumbs li:last-child:before {
  display: none;
}
.breadcrumbs li:last-child {
  margin-right: 0px;
}
.breadcrumbs li:before,
.breadcrumbs li span,
.breadcrumbs li a {
  width: 100%;
  font-size: 14px;
  text-transform: capitalize;
}
.breadcrumbs li div{
  font-size: 14px;
}
.breadcrumbs li:before{
  width:auto;
}
.box_heading .column_model p,
.box_heading .column_model h4 {
  margin-bottom: 0px;
}
