.mb50{
    float: left;
    width: 100%;
}

.loreal_banner,
.ao_loreal{
    float: left;
    width: 100%;
}
.loreal_banner figure{
    margin-top: 20px;
}
.loreal_banner figure img{
    width: 100%;
}
.dots_none .owl-dots{
    display: none;
}
body .mb0{
    margin-bottom: 0px;
}
.banner-floating.mb0 a:first-child figure{
 margin-top: 0px;
}
.loreal_banner a{
    width: 100%;
    float: left;
}
.mb20{
    margin-bottom: 20px;
}
.loreal_banner.mb20 figure{
    margin-top: 0px;
}
.mb0 .slider_nav .owl-dots{
    display: none;
}
.ao_loreal .padding40x{
    padding-bottom: 0px;
}
.picture-slider{
    float: left;
    width: 100%;
}
.picture-slider .slide{
    float: left;
    width: 16.6666%;
    padding: 0px 7px;
}
.first-mb0 figure:first-child{
    margin-top: 0px;
}
.ao_loreal  .top_seller_column,
.ao_loreal .grid-column{
    margin-bottom: 0px;
    margin-top: 15px;
}
.ao_loreal .grid-column{
    position: relative;
}
.ao_loreal .owl-nav button.owl-prev{
 left:-20px;
}
.ao_loreal .owl-nav button.owl-next{
    right:-20px;
}
.ao_loreal .product_style2{
    margin-bottom: 0px;
}
.ao_loreal  .top_seller_column a{
    float: left;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.responsive_class{
    float: left;
    width: 100%;
}
.homepg .product_style2{
    margin-bottom: 30px;
}
.pb50{
    padding-bottom: 50px;
}
.spacial-margin{
    margin-bottom: 20px;
}
.grid-column.m0{
    margin: 0px;
}
.ao_loreal .light-gry{
    background:#f0f0f0;
}
.ao_loreal .seller_images {
    float: left;
    width: 100%;
    overflow: hidden;
    margin-bottom: 23px;
}
.ao_loreal .grid-column .placeholderbg{
    width: 100%;
}
.ao_loreal .grid-column iframe{
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 100%;
}
@media (max-width: 1600px) {


}

@media (max-width: 1366px) {


}
/*============	Media 940Px Start ============ */
@media screen and (min-width: 992px) and (max-width: 1199px) {

}
/*============	Media 979Px Start ============ */
@media (max-width: 991px) {

}
@media (max-width: 767px) {
    .ao_loreal .product_style2{
        margin-bottom: 15px;
        margin-top: 0px;
    }

    
    .responsive_class{
        float: left;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 0px;
    }
    .heading.mb24{
        margin-bottom: 18px;
    }
    .ao_loreal .heading p{
        margin:0px;
        font-size: 12px;
    }
    .ao_loreal div.col-xs-6{
        padding: 0px 7px;
    }
    .ao_loreal .owl-nav button.owl-next{
        right:0px;
    }
    .ao_loreal .owl-nav button.owl-prev{
        left:0px;
    }
    .seller_images{
        min-height: 100%;
        max-height: 100%;
        overflow: visible;
    }
}
@media (max-width: 320px) {
    /* .heading.mb24{
        margin-bottom: 10px;
    } */
    
}